README.md
.cfg
.dotfiles
Carthage/
.DS_Store
node_modules
elm-stuff
.config/nvim/plugin/packer_compiled.lua
.bash_history
.bash_logout
.bashrc
.cache/
.lesshst
.motd_shown
.local/
.ssh/
.profile
.sudo_as_admin_successful
.zcompdump
.zshenv
.zshrc
.config/zsh
.gitconfig
.vim/
